#branding {
    color: #fff;
    width: 280px;
    margin: 0;
    min-width: 316px;

    a {
        color: #fff;
    }

    a img {
      max-width: 60px;
    }

    .branding-text {}

    span.branding-text {
      padding-left: 20px;
    }
  }

  .navbar-brand {
    background-color: #ef6b35;
  }
